
  <div class="top">
    <h1>Vườn chuối</h1>
</div>
<table class="table table-bordered">
    
    <thead >
      
        
      <tr class="table-top">
        <th>Id</th>
        <th>Số lần đo</th>
        <th>Độ ẩm đất</th>
        <th>Thời gian</th>
        <th>Công tắc</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2</td>
        <td>1</td>
        <td>70%</td>
        <td>12/12/2019 7:00:00</td>
        <td>
          <div class="botton">
            <button type="button" class="btn btn-primary">Mở </button>
            <button type="button" class="btn btn-danger">Tắt</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>3</td>
        
        <td>3</td>
        <td>50%</td>
        <td>02/08/2021 8:00:00</td>
        <td>
          <div class="botton">
            <button type="button" class="btn btn-primary">Mở </button>
            <button type="button" class="btn btn-danger">Tắt</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>1</td>
       
        <td>1</td>
        <td>30%</td>
        <td>01/01/2019 8:00:00</td>
        <td>
          <div class="botton">
            <button type="button" class="btn btn-primary">Mở </button>
            <button type="button" class="btn btn-danger">Tắt</button>
          </div>
           
        </td>
      </tr>
    </tbody>
  </table>
